@import "../generated/leptonic/leptonic-themes";

[data-theme="light"] {
  --brand-color: #20124d;

  --drawer-background-color: none;
  --drawer-box-shadow: none;
}

[data-theme="dark"] {
  --brand-color: #20124d;

  --drawer-background-color: none;
  --drawer-box-shadow: none;
}

.nav-ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  vertical-align: center;
  align-items: center;
  background-color: #333;
}

body {margin:0;padding:0}

.nav-title{
  float: left;
  font-size: large;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 0 10px;
  text-decoration: none;
}

.nav-li {
  float: left;
}


.nav-wrapper{
  align-content: center;
}

.code-editor{
  color: white;
  background-color: #111;
}